
#value1:checked ~ #label #active {
    transform: translateX(0px);
    background-color: aqua;
}

#value2:checked ~ #label #active {
    transform: translateX(100%);
    background-color: red;
}

#value3:checked ~ #label #active {
    transform: translateX(200%);
    background-color: burlywood;
}

#brief{
    color: #646464;
}

#specize{
    color: #a0a0a0;
}

#checkbox:checked + #label #brief{
    color: #a0a0a0;
}

#checkbox:checked + #label #specize{
    color: #646464;
}
