
#checkbox:checked + #label #activetoggle {
    transform: translateX(123px);
}

#label #brief{
    width: 50%;
    text-align: center;
}

#label #specize{
    width: 50%;
    text-align: center;
}

#label #activetoggle{
    width: 50%;
    text-align: center;
}

#brief{
    color: #646464;
}

#specize{
    color: #a0a0a0;
}

#checkbox:checked + #label #brief{
    color: #a0a0a0;
}

#checkbox:checked + #label #specize{
    color: #646464;
}


